<!doctype html>
<html   lang="en" >
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="icon" th:href="@{/img/favicon.ico}"/>
    <title>Bienvenidos</title>
    <!-- Bootstrap core CSS -->
    <link  th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link  th:href="@{/css/dashboard.css}" rel="stylesheet"/>
    <link  th:href="@{/css/fontawesome-all.min.css}" rel="stylesheet"/>
  </head>
  <body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" th:href="@{http://localhost:8080/}">Gestion de Pedidos</a>
<!--       <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"/> -->
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
<!--           <a class="nav-link" href="#">Sign out</a> -->
        </li>
      </ul>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
<!--                 <a class="nav-link active" href="#"> -->
                  <span data-feather="home"></span>
                  Dashboard <span class="sr-only">(current)</span>
<!--                 </a> -->
              </li>
              <li class="nav-item">
                <a class="nav-link" th:href="@{http://localhost:8080/pedido/todo}">
                  <span data-feather="file"></span>
                  Pedido
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" th:href="@{http://localhost:8080/almacen/todo}">
                  <span data-feather="shopping-cart"></span>
                  Almacenes
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" th:href="@{http://localhost:8080/producto/todo}">
                  <span data-feather="shopping-cart"></span>
                  Productos
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" th:href="@{http://localhost:8080/cliente/todo}">
                  <span data-feather="users"></span>
                  Clientes
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" th:href="@{http://localhost:8080/empleado/todo}">
                  <span data-feather="users"></span>
                  Empleado
                </a>
              </li>

            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Informes</span>
              <a class="d-flex align-items-center text-muted" href="#">
                <span data-feather="plus-circle"></span>
              </a>
            </h6>
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class="nav-link" th:href="@{http://localhost:8080/reporte/todo}">
                  <span data-feather="file-text"></span>
                  Reportes
                </a>
              </li>

            </ul>
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class="nav-link" th:href="@{http://localhost:8080/reporte/buscar}">
                  <span data-feather="file-text"></span>
                  Buscar en texto
                </a>
              </li>

            </ul>
          </div>
        </nav>
      </div>
    </div>

	 <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Dashboard</h1>
            
          </div>


          
          <div class="container">
           <section layout:fragment="content"></section>
          </div>
        </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster  jquery-3.3.1.slim.min.js -->
    <script th:src="@{/js/jquery.min.js}" ></script>
<!--     <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script> -->
<!--     <script src="../../assets/js/vendor/popper.min.js"></script> -->
    <script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/main.js}"></script>
  </body>
</html>
