<!DOCTYPE html>
<html layout:decorator="layout/layout">
<head>
<meta charset="UTF-8" />
<title>Agregar o Modificar Datos</title>
</head>
<body>

	<div layout:fragment="content">
		<form th:action="@{/empleado/agregarempleado}" th:object="${mdlempleado}" method="post">
			<input type="text" th:field="*{EmpleadoId}"></input>
			
			<div class="form-group">
				<label for="exampleFormControlSelect2">Tipo Documento</label> <select
					class="form-control" >
					<option value="DNI">DNI</option>
					<option value="OTROS">OTROS</option>
				</select>
			</div>
			<div class="form-group">
				<label for="Edad">Nro. Documento</label> <input type="text"
					class="form-control" placeholder="0"
					th:field="*{EmpleadoNroDocumento}" th:value="${EmpleadoNroDocumento}" />
				<td th:if="${#fields.hasErrors('EmpleadoNroDocumento')}"
					th:errors="*{EmpleadoNroDocumento}"></td>
			</div>
			
			<div class="form-group">
				<label for="Nombre">Nombre</label> <input type="text"
					class="form-control" placeholder="Tu nombre"
					th:field="*{EmpleadoNombre}" th:value="${EmpleadoNombre}" />
				<span th:if="${#fields.hasErrors('EmpleadoNombre')}" th:errors="*{EmpleadoNombre}">error</span>
			</div>

			<div class="form-group">
				<label for="Nombre">Apellidos</label> <input type="text"
					class="form-control" placeholder="Tu apellido"
					th:field="*{EmpleadoApellido}" th:value="${EmpleadoApellido}" />
				<span th:if="${#fields.hasErrors('EmpleadoApellido')}" th:errors="*{EmpleadoApellido}">error</span>
			</div>
			
			<div class="container col-xs-2">
			<button type="submit" class="btn btn-primary">Aceptar</button>
			<a th:href="@{http://localhost:8080/empleado/cancelar}">
				<button type="button" class="btn btn-primary">Cancelar</button>
			</a>

		</div>

		</form>
		<br/>
		
	</div>



</body>
</html>